.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e4e4e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(26, 26, 26);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: rgb(245, 245, 245);
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid rgb(201, 201, 201);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.logo {
  background-color: black;
  color: #ddd;
  text-transform: uppercase;
  font-weight: bolder;
}

.cart-widget {
  margin-left: auto;
  margin-right: 1.25%;
}

.cart-items {
  margin-left: 5px;
  font-size: 1.25rem;
}

.item-count-container {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.count-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count-container > * {
  font-size: 1.5em;
}

.count-button {
  border: none;
  background-color: transparent;
  padding: 0 0.5em;
  cursor: pointer;
}

.count-number {
  padding: 0 0.25em;
}

.addToCart-button {
  border: none;
  padding: 20px 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}